html {
    background-color: rgb(44, 44, 44);
    height: 3000px;
}


/*Exemplo de menu (lateral esquerda) interativo*/

nav#division {
    background-color: rgb(63, 97, 41);
    position: fixed;
    height: 100%;
    width: 5px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    transition: 2s;
    text-transform: uppercase;
}


/*Editando lista do menu*/

#division ul {
    list-style-type: none;
}

#config {
    position: absolute;
    background-color: red;
    left: -100px;
    height: 50px;
    width: 200px;
    margin-left: -8px;
    transition: 1s;
    border-radius: 0px 30px 0px 30px;
}

#config:hover {
    background-color: rgb(138, 0, 0);
}

p {
    font-size: 12pt;
    display: block;
    margin-top: 15px;
}

#division li {
    text-align: center;
    margin: 2px;
    border-radius: 0px 200px 0px 150px;
    color: black;
}

#division li#li_1 {
    position: absolute;
    left: -100px;
    top: 100px;
    transition: 2s;
}

#division:hover li#li_1 {
    left: 50%;
}

#division li#li_2 {
    position: absolute;
    left: -100px;
    top: 200px;
    transition: 2s;
}

#division:hover li#li_2 {
    left: 50%;
}

#division li#li_3 {
    position: absolute;
    left: -100px;
    top: 300px;
    transition: 2s;
}

#division:hover li#li_3 {
    left: 50%;
}

#division li#li_4 {
    position: absolute;
    left: -100px;
    top: 400px;
    transition: 2s;
}

#division:hover li#li_4 {
    left: 50%;
}

nav#division:hover {
    background-color: chartreuse;
    width: 300px;
}