@import "root.css";
/*Menu*/
div#menu {
    background-color: var(--cor-inicial-menu-lateral);
    position: fixed;
    height: 100%;
    width: var(--largura-inicial);
    top: 0px;
    left: 0px;
    bottom: 0px;
    transition: var(--duracao-animacao-menu);
}

/*Abrir menu*/
div#menu:hover {
    background-color: var(--cor-final-menu-lateral);
    width: var(--largura-final);
}

/*Mostrar itens do menu*/
#menu:hover li {
    left: var(--pixels-texto-final);
    opacity: 1;
}

/*itens do menu*/

#menu li {
    position: absolute;
    left: -100px;
    transition: 2s;
    opacity: 0;
}

#menu ul {
    list-style-type: none;
}

a#item-menu{
    color: rgb(0, 16, 17);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 120%;
    
}
a#item-menu:hover{
    color: rgb(0, 255, 191);
    cursor: pointer;
    font-size: 124%;
}